* {
  margin: 0;
  padding: 0; }

body {
  font-family: "warnock-pro", Georgia, serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400; }

h1, h2 {
  line-height: 1.25;
  font-weight: 400; }

h1 {
  font-size: 8rem;
  margin-top: 8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em; }

h2 {
  font-size: 2rem; }

p {
  font-size: 1.25rem; }

body {
  color: #333;
  background-color: #fff; }

body {
  width: 90%;
  margin: 0 auto; }
